@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rampart+One&display=swap');

fieldset {
    width: 100%;
    text-align: center;
    background-color: lightblue; 
    border-color: lightblue;
}

h1 {
  font-family: 'Rampart One', cursive;
}
.content {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #1e62f4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding: 20px;
    width: 310px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  body {
    background-image: url("Tanner.jpeg");
    background-size: cover;
    background-color: #cccccc;
  }

img {
  opacity: 0.5;
}